body * {
  display: none !important;
}

body:before {
  line-height: 1.5;
  display: block;
  z-index: 99999999;
  white-space: pre;
  font-family: "Courier New", monospace;
  font-size: 20px;
  color: black;
  margin: 10px;
  padding: 10px;
  border: 4px dashed red;
  margin-bottom: 10px;
  content: "Transpiler error: \00002fUsers\00002fmunter\00002fgit\00002ffusile\00002ffixtures\00002fsource\00002fscss\00002fmassive\00002dwith\00002derror\00002escss:5:6\00000ainvalid property name";
}
