body * {
  display: none !important;
}
body:before {
  line-height: 1.5;
  display: block;
  z-index: 99999999;
  white-space: pre;
  font-family: "Courier New", monospace;
  font-size: 20px;
  color: black;
  background-color: white;
  margin: 10px;
  padding: 10px;
  border: 4px dashed red;
  margin-bottom: 10px;
  content: "Transpiler error: fusile\2f fixtures\2f source\2f scss\2f massive\2d with\2d error\2e scss:5:7\a Invalid CSS after \22 body {\22 : expected \22 }\22 \2c  was \22 \22 ";
}