body * {
  display: none !important;
}

body:before {
  line-height: 1.5;
  display: block;
  z-index: 99999999;
  white-space: pre;
  font-family: "Courier New", monospace;
  font-size: 20px;
  color: black;
  margin: 10px;
  padding: 10px;
  border: 4px dashed red;
  margin-bottom: 10px;
  content: "Transpiler error: fusile/fixtures/source/errors/error\00002escss:1:7\00000aInvalid CSS after \000022body {\000022: expected \000022}\000022\00002c was \000022\000022";
}
